<div class="container-fluid-sm">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="img">
          <img class="img-fluid-md" src="assets/royal.jpg" height="500px" width="100%" alt="First slide">
        </div>
      </div>
      <div class="carousel-item">
        <div class="img"><img class=" img-fluid-md" src="assets/london.jpg" height="500px" width="100%" alt="Second slide"></div>
      </div>
      <div class="carousel-item">
        <div class="img"><img class="img-fluid-md" src="assets/sms.jpg" width="100%" height="500px" alt="Third slide"></div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
<div class="container-fluid-sm mt-2">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" id="slider">
        <div class="card-header" style="background-color: navy">
          <h6 style="text-align:center;color: #fff;" >CURRENT UPDATES</h6></div>
        <div class="card-body" id="x" style="background-color:skyblue">
          <marquee behavior="alternate" direction="left">
            <h6 style="margin-top: 10px">
             <li><b>Admissions are open now</b></li></h6>
           </marquee>
           <marquee behavior="scroll" direction="right">
             <h6 style="margin-top: 10px">
              <li><b>Semister results available now</b></li></h6>
            </marquee>
        </div>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" id="slider">
        <div class="card-header" style="background-color:	#000080">
         <h6 style="color: #fff;text-align: center;">OUR FACILITIES</h6></div>
      <div class="card-body" id="y" style="background-color: skyblue;">
        <ul>
          <li><h6>WORLD CLASS LABORATORIES</h6></li>
          <li><h6>TRANSPORTATION</h6></li>
          <li><h6>LIBRARY</h6></li>
          <li><h6>HOSTEL</h6></li>
        </ul>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="card" id="slider">
      <div class="card-header"  style="background-color: navy;">
       <h6 style="text-align: center;color: #fff;"> ACHIEVEMENTS </h6></div>

  <div class="card-body" id="z" style="background-color: skyblue;">
      <li>We have been serving for over 13 years in the training & development of teaching and Gaming modules.</li>
    <li>Collaborated with Top Indian universities in the field of Fine arts.</li>
    <li>Placed more than 3000 students in the best of international and corporate companies on successful completion of training.</li>
    </div>
  </div>
</div>
<div class="mt-2">
  <div class="marquee-fluid">  
    <marquee behavior="scroll" direction="left" style="background-color:saddlebrown ;">
    <h1 style="color: burlywood;"><u>OUR PLACEMENTS</u></h1>
  </marquee>
</div>

 <!-- <div class="img">
  <img class="img" src="assets/comp.jpg" width="1700px" height="300px" alt="companies">
  </div> -->
  <div class="img">
    <img class="img-fluid-md" src="assets/top.jpg" width="100%" height="450px" alt="PLACEMENTS">
  </div>
</div>