<div class="container" style="margin-top: 10px">
    <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 text-center" style="margin-top: 15px;">
        <div class="card zoom" id="d" style="margin-right: 20px;">
        <div class="card-body">
            <!-- <img src="assets/civilcard1.jpg" width="395px" style="text-align: center;" height="180px" alt="civil images"> -->
            <div class="img">
                <img class="img-fluid-md" src="assets/civilcard1.jpg" width="100%" height="222px" alt="civilcard">
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-success" (click)="navigateToCommon('civil')"data-target="#m1" data-toggle="modal">Select</button>
        </div>
        </div>
        <div class="card zoom" style="margin-top: 40px; margin-right: auto;">
            <div class="card-body" id="c">
                <!-- <img src="assets/ececard1.jpg" width="400px" height="180px" alt="ece image"> -->
                <div class="img">
                    <img class="img-fluid-md" src="assets/ececard1.jpg" width="100%" height="200px" alt="ececard">
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-success" (click)="navigateToCommon('ece')" data-target="#m1" data-toggle="modal">Select</button>
            </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    <div class="col-sm-5" style="margin-top: 20px;">
            <div class="card zoom">
                <div class="card-body" id="c">
                    <!-- <img src="assets\mechcard1.jpg" width="400px" height="180px" alt="mechanical image"> -->
                    <div class="img">
                        <img class="img-fluid-md" src="assets/mechcard1.jpg"  width="100%" height="100%" alt="mechcard">
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-success" (click)="navigateToCommon('mech')" data-target="#m1" data-toggle="modal">Select</button>
                </div>
                </div>
           <div class="card zoom" style="margin-top: 40px;">
                <div class="card-body" id="c">
                    <!-- <img src="assets/csecard.jpg" width="400px" height="180px" alt="civil image"> -->
                    <div class="img">
                        <img class="img-fluid-md" src="assets/csecard.jpg" width="100%" height="100%" alt="csecard">
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-success" (click)="navigateToCommon('cse')" data-target="#m1" data-toggle="modal">Select</button>
                </div>
                </div>
            </div>
    
    </div>
</div>


