<div class="container-fluid" id="cse">
    <h1 style="text-align: center;"><u>Computer Science Engineering</u></h1>
    <div class="row">
        <div class="col-sm-7">
            <b><u>Overview</u></b>
            <p>Computer Science & Engineering is a course known to be favored by the majority of students of this era. Established in 1999 and accredited by NBA in 2010, the Department of CSE is a hub of activity with students having the opportunity to truly engage themselves in active learning through effective participation in Workshops, Seminars, Certification Programs, Hackathons, Tech-Fests, and Innovative R&D Programs. The department focuses on students to advance, evolve and enhance Computer Science and Engineering fundamentals to build the intellectual capital of the society. The Department promotes active industry-institute collaboration and has introduced some of the latest in-demand technology courses into the curriculum providing access to certifications by industry majors like Microsoft, Sun, Oracle, IBM, CISCO, etc. It leaves no stone unturned for creating seasoned engineers.</p>
            <b><u>Core competencies</u></b>
            <li>Data Sciences</li>
            <li>Machine Learning</li>
            <li>Image Processing</li>
            <li>IOT</li>
            <li>FOSSEE</li>
            <b><u>Prominent Features</u></b>
            <li>Accredited by National Board of Accreditation</li>
            <li>Well qualified and eminent faculty trained on Outcome Based Education.</li>
            <li>Six Computer labs with state-of-the-art infrastructure.</li>
            <li>Strong Industry Interface with leading companies like Microsoft, Persistence, Rockwell Collins, Quadrium and Virtusa</li>
            <li>Faculty trained and certified by International Society for Engineering Education in collaboration with IUCEE and Microsoft.</li>
            <li>Memorandum of Understanding with, IIIT Enhance EduHyd, Byndr Learning management system, IIT Bombay Spoken Tutorials, Robofest.</li>
            <b><u>Head of the Department</u></b>
            <p>Dr. B. Vijayakumar, has completed Integrated MS in Engineering from Donetsk National Technological University, USSR and Ph. D. in Computer Science and Engineering from GITAM University. He has 23 years of experience in both Academia and Industry and has published about 70 Technical Papers to his credit. His areas of interest are IoT and Smart Devices, Image Processing, Robotics, Algorithm Analysis and Development, Cloud Computing and Steganography. He has been an effective and competent Resource person for expert lectures on engineering core domains of CSE & IT. Dr. Vijaykumar is also a capacitated mentor for the prestigious MSME funded projects worth 13 lakhs.</p>
        </div>
        <div class="col-sm-5">
            <!-- <img src="assets/cse.jpg" alt="csc" width="680px" height="350px"> -->
            <div class="img">
                <img class="img-fluid-md" src="https://www.dqindia.com/wp-content/uploads/2016/12/save.png" width="100%" height="100%" alt="cse">
              </div><br>
            <!-- <img src="assets/cse1.png" alt="csc" width="680px" height="350px"> -->
            <div class="img">
                <img class="img-fluid-md" src="https://lh4.googleusercontent.com/proxy/l_rxwx1SZWU_GjwTthIJ1mDzLOPgoJ_nHmqD5dsd6rzfwuPbRdOxvO0vo2PwMCqSflHuG9lU8RiYYUoR5OFKSS4TULCntPYRyt1J6gA11fa49n0dXxFNNZng42YAgeSXbL0aWJfNNg" width="100%" height="100%" alt="cse">
              </div>
        </div>
    </div>
</div>